<ion-view view-title="Home">
  <ion-content class="padding">
    <h2>Welcome to FastCars</h2>
    <p>
      This app was created for my Mobile Computing final project. It will feature a total of 4 tabs: The home page, the cars tab, the shopping tab, and the account tab.
    </p>
    <p>
      <img src="img/fastcar.png" alt="FastCar" height="150px" width="300px">
    </p>
    <p>
      If you enjoy fast cars, then this is the perfect app for you!
    </p>
    <p>
      <b>Psst!</b> - Try <a href="https://www.mbusa.com/mercedes/index">Mercedes Benz</a> to easily view some of the greatest cars in the world.
    </p>
  </ion-content>
</ion-view>
